body {

    color: #000000;
    background-color: rgb(160, 197, 232);
  }
 
 .tag {
     font-family: inherit; 
     font-size: 1rem;
    }  
  .jumbotron {
      background-image: url("../LAB.jpeg");
      background-size: 100% 100%;
      opacity: 100%;
      text-align: center;
    }
